<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ja0721/src/ja0721/C0721_07.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ja0721.C0721_07"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ja0721"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ja0721"/>
</launchConfiguration>
